@media (min-width: 768px) {
  .search {
    max-width: 300px;
  }

  .periodic-table-container {
    grid-template-columns: repeat(18, 1fr); /* Desktop layout */
    gap: 10px;
  }

  .element {
    width: 80px;
    height: 100px;
    font-size: 14px;
  }

  .table-container {
    margin: 20px;
  }
}
