@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --primary-font:  Roboto, sans-serif;
  --backgroung-color: #065616;
  --font-color-one: #fff;
  --font-color-two: #004080;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: var(--primary-font);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  main{
    display: grid;
    justify-content: center;
    grid-gap:1.5rem;
  }
  
  header .banner {
    background-color: var(--backgroung-color);
    color: var(--font-color-one);
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  img{
    width: 400px;
    height: 450px;
    object-fit: cover;
  }
  
  h2 {
    color: var(--font-color-two);
    text-align: center;
    margin-top: 1rem;
    
  }
  
  /* Data Section Styling */
  section.data {
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section.data p {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
  
  section.data strong {
    color: #0056b3;
  }
  .weather h2::after {
    content: url(/images/weather.svg);
    display: block;
    width: 15%;
    margin: auto;
}
  /* Weather Section Styling */
  section.weather {
    background: #eef6fc;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button.calc-wind-chill {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background: #0056b3;
    color: white;
    cursor: pointer;
  }
  
  button.calcWindChill:hover {
    background: #004080;
  }
  
  /* Footer Styling */
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #004080;
    color: white;
  }
  
  footer p {
    margin: 0.5rem;
  }
  